.tweet {
    border: 2px solid #1da1f2;
    max-width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;    
  }
  
#names {
  margin-left: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tweet-handle {
  color: gray; 
  font-size: 12px; 
  margin-bottom: -18px; 
}

.tweet-text {
    word-wrap: break-word;
    padding: 12px;
    margin-top: 5px;
    font-size: 22px; 
  }
  
.tweet-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #657786;
    padding-left: 12px;
    padding-right: 12px;
    color: white
  }

.footer-info {
    color: lightgray; 
    font-size: 18px; 
  }