* {
    margin: 0; 
    padding: 0
  }
  
  body {
    padding-left: 50px;
  }
  
  .tweet {
    border: 2px solid #1da1f2;
    max-width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
  }

#account {
    margin-top: 5px; 
    margin-left: 12px; 
    display: flex; 
    flex-direction: row; 
  }
  
#profile-pic {
  max-width: 50px; 
  border-radius: 50%; 
}

#names {
  margin-left: 10px; 
  padding-top: 5px; 
}

#tweet-handle {
  color: gray; 
  font-size: 12px; 
}

.tweet-text {
    word-wrap: break-word;
    padding: 12px;
    margin-top: 5px;
    font-size: 18px; 
  }
  
.tweet-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #657786;
    padding: 12px;
    color: white
  }

.footer-info {
    color: lightgray; 
    font-size: 12px; 
  }