* {
    margin: 0; 
    padding: 0
  }
  
  body {
    padding-left: 50px;
  }
  
  .tweet {
    border: 2px solid #1da1f2;
    max-width: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
  }
  
  .tweet-text {
    word-wrap: break-word;
    padding: 12px;
  }
  
  .tweet-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #657786;
    padding: 12px;
    color: white
  }